<div class="container">
  <h2>Admin Login</h2>

  <form (ngSubmit)="adminLogin()">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required />

    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required />

    <button type="submit">Login</button>
  </form>

 
  <p *ngIf="loginMessage" class="error-message">
    {{ loginMessage }}
  </p>

 
  <div>
    <p>Don't have an account? <a routerLink="/admin-register">Register here</a></p>
  </div>
</div>
