.login-container {
  width: 350px;
  margin: 30px auto;
  padding: 20px;
  background-color: #e7f3fe;
  border-radius: 10px;
  box-shadow: 0 0 10px #b0c4de;
  font-family: 'Open Sans Condensed', sans-serif;
}
h2{
  text-align: center;
}
.login-container label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.login-container input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
}

.login-container button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #005fa3;
}

.login-container p {
  margin-top: 15px;
  text-align: center;
}

.login-container a {
  color: #007acc;
  cursor: pointer;
  text-decoration: underline;
}
