

<!-- Navigation -->
<nav>
  <a routerLink="/user" *ngIf="isLoggedIn()">User Home</a><br />
  <a routerLink="/reviews" *ngIf="isLoggedIn()">View Reviews</a><br />
  
</nav>

<!-- Top-right Profile -->
<div class="navbar">
  <div class="profile">
    <div class="avatar">{{ userInitial }}</div>

    <div class="user-dropdown">
      <div class="profile-card">
        <div class="avatar">{{ userInitial }}</div>

        <h1>WELCOME, {{ userName }} {{ userName1 }}</h1>
        <h3>EMAIL: {{ userEmail }}</h3>

        <!-- Settings Option -->
        <button (click)="showSettings = !showSettings">⚙️ Manage your account</button>

        <!-- Settings Menu -->
        <div *ngIf="showSettings" class="settings-menu">
          <button routerLink="/username">Change Username</button>
<button routerLink="/password">Change Password</button>
<button routerLink="/phonenumber">Change Phone</button>
<button routerLink="/address">Change address</button>
        </div><br>

        <button *ngIf="isLoggedIn()" (click)="logout()">Log out</button>
      </div>
    </div>
  </div>
</div>
<h2 >All Ratings</h2>

<div class="ratings-container">
  <input 
    type="text" 
    placeholder="Search by product name, user, or comment" 
    [(ngModel)]="searchQuery"
    (input)="searchRatings()" 
  />

  <div *ngFor="let rating of filteredRatings; let i = index" class="rating-card">
    <p><strong>{{ i + 1 }}.</strong></p>
    <strong>id:</strong> {{ rating.Id }} <br />
    <strong>Product:</strong> {{ rating.Product_name }} <br />
    <strong>Rating:</strong>
<span *ngFor="let star of getStars(rating.rating)">
  <span [style.color]="star === '★' ? 'gold' : 'gray'">{{ star }}</span>
</span>
<br />

    <strong>Category:</strong> {{ rating.category }}<br />
    <strong>Subcategory:</strong> {{ rating.subcategory }}<br />
    <strong>Comment:</strong> {{ rating.Comment }} <br />
    <strong>By:</strong> {{ rating.submittedBy }} <br />
    <button (click)="deleteRating(rating.Id)">Delete</button>
  </div>
</div>
