
<nav>
  <a routerLink="/submitrating" *ngIf="isLoggedIn()">Submit Rating</a><br />
</nav>
<!-- Rating Form -->
<h2>User Ratings</h2>
<form (ngSubmit)="submitRating()">
  <label>
    Product Name:
    <input type="text" [(ngModel)]="product_name" name="Product_name" required />
  </label>

  <label>
    Rating:
    <input type="number" [(ngModel)]="rating" name="rating" min="1" max="5" required />
  </label>
<label for="category">Choose a category:</label>
<select id="category" name="category">
<option value="">--Select a Category--</option>
<option value="electronics">Electronics</option>
<option value="restaurants">Restaurants</option>
<option value="apps">Mobile Apps</option>
<option value="books">Books</option>
<option value="movies">Movies</option>
</select>
  <label>
    Comments:
    <textarea [(ngModel)]="Comment" name="Comment"></textarea>
  </label>

  <button type="submit">
    {{ isEditMode ? 'Update Rating' : 'Submit Rating' }}
  </button>
  <button type="button" (click)="cancel()">Cancel</button>
</form>

<!-- Rating List -->

