
<h2>Change Password</h2>

<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
<div *ngIf="successMessage" class="success">{{ successMessage }}</div>

<form (ngSubmit)="submit()">
  <label>
    Current Password:
    <input type="password" [(ngModel)]="currentPassword" name="currentPassword" required>
  </label>
  <br><br>

  <label>
    New Password:
    <input type="password" [(ngModel)]="newPassword" name="newPassword" required>
  </label>
  <br><br>

  <label>
    Confirm Password:
    <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required>
  </label>
  <br><br>

  <button type="submit">Change Password</button>
</form>
