
 
 
 
 <div class="container">
  <h2>Admin Dashboard</h2>
  <button (click)="logout()">Logout</button>

  <div *ngIf="users.length > 0; else noUsers">
    <h3>User Ratings</h3>
    <table>
      <thead>
        <tr>
          <th>#</th>
          
          <th>User Email</th>
          <th>Category</th>
          <th>Subcategory</th>
          <th>Product Name</th>
          <th>Comments</th>
          <th>Rating</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          
          <td>{{ user.submittedBy }}</td>
          <td>{{ user.category }}</td>
          <td>{{ user.subcategory }}</td>
          <td>{{ user.Product_name }}</td>
          <td>{{ user.Comment }}</td>
          <td>{{ user.rating }} ⭐</td>
          <td>
            <button (click)="deleteRating(user.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noUsers>
    <p>No ratings found.</p>
  </ng-template>
</div>
