<div *ngIf="!isOtpSent">
  <h2>Register</h2>
  <input type="email" [(ngModel)]="email" placeholder="Enter email" required />
  <input type="password" [(ngModel)]="password" placeholder="Enter password" required />
  <button (click)="register()">Register</button>
  <p>Already have an account? <a (click)="goToLogin()">Login here</a></p> 
  </div>

<div *ngIf="isOtpSent">
  <h2>Verify OTP</h2>
  <input type="text" [(ngModel)]="otp" placeholder="Enter OTP" required />
  <button (click)="verifyOtp()">Verify</button>
</div>
